.landing {
  width: 100%;
  height: 100vh;
  /* box-shadow: inset 0 0 300px #000; */
  /* background: radial-gradient(circle, rgba(62, 62, 62, 0) 0%, #000 100%); */
  /* background-color: var(--clr-background); */
  background-image: radial-gradient(
      circle at 48% 33%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 28% 16%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 34% 52%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 92% 52%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 77% 84%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 75% 64%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 70% 62%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 55% 100%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 12% 11%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 35% 55%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(45deg, rgb(26, 21, 192), rgb(171, 83, 239));
  display: grid;
  grid-template-columns: 100px repeat(6, 1fr);
  grid-template-rows: 70px repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas:
    "nav nav nav nav nav nav nav"
    "aside main main main main as as"
    "aside main main main main as as"
    "aside main main main main as as"
    "aside main main main main as as";
}
