.main {
  grid-area: main;
  width: 100%;
  height: 100%;
  /* border: 4px solid blue; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 150px 250px 50px;
  gap: 1rem;
  margin: 0 auto;
  grid-template-areas:
    "template"
    "collection"
    "cards"
    "value";
}
.main__template {
  grid-area: template;
  width: 100%;
  height: 100%;
}
.main__template--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1rem;
  background-image: url("/src/assets/img/twelve.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  filter: opacity(0.5);
  box-shadow: 1px 5px 15px #3c3e73;
}
.main__template--text {
  position: relative;
  z-index: 2;
  width: 70%;
  bottom: 20rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: var(--font-family-poppins);
  padding: 1rem;
  margin-bottom: 2rem;
}
.btn-main {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  color: #fff;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  border: 2px solid #fff;
}
.btn-main:active {
  transform: scale(0.9);
}
/*Collection*/
.main__collection {
  grid-area: collection;
  width: 100%;
  height: 100%;
}
.collection-icon {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.collection-icon-text {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}
.collection-arrows {
  padding: 0.5rem;
}
.collection-arrows a {
  font-size: 1.4rem;
  color: #fff;
  filter: opacity(0.5);
  font-weight: bold;
}
.collection-user {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 1rem;
  margin: 0 auto;
}
.user-card {
  width: 100%;
  height: 100%;
  background-color: #1e1f4b;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 25px #000;
}
.color {
  width: 100%;
  height: 3rem;
  background-color: #f2e96b;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.user-img {
  position: relative;
  width: 25%;
  height: 50%;
  border-radius: 50%;
  bottom: 1.5rem;
}
.user-img img {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user-text {
  width: 100%;
  position: relative;
  bottom: 1rem;
  text-align: center;
}
.user-text h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 900;
}
.user-text p {
  font-size: 1rem;
  color: #fff;
  opacity: 0.5;
}

/*cards*/
.main__cards {
  grid-area: cards;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__cards .swiper {
  width: 600px;
  height: 200px;
}
.swiper-slide.one {
  background-image: url("/src/assets/img/ten.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}
.swiper-slide.two {
  background-image: url("/src/assets/img/nine.png");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}
.swiper-slide.three {
  background-image: url("/src/assets/img/eleven.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.swiper .swiper-button-next {
  color: #fff;
  filter: opacity(0.5);
}
.swiper .swiper-button-prev {
  color: #fff;
  filter: opacity(0.5);
}

/*value*/
.main__value {
  grid-area: value;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-text {
  color: #fff;
  font-weight: 700;
  filter: opacity(0.5);
  font-size: 1.6rem;
}
