.main {
  grid-area: main;
  width: 100%;
  height: 100%;
  border: 4px solid blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 150px 250px 50px;
  gap: 1rem;
  margin: 0 auto;
  grid-template-areas:
    "template"
    "collection"
    "cards"
    "value";
}
.main__template {
  grid-area: template;
  width: 100%;
  height: 100%;
}
.main__template--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1rem;
  background-image: url("/src/assets/img/twelve.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  filter: opacity(0.7);
  box-shadow: 1px 5px 15px #3c3e73;
}
.main__template--text {
  position: relative;
  z-index: 2;
  width: 70%;
  bottom: 20rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: var(--font-family-poppins);
  padding: 1rem;
  margin-bottom: 2rem;
}
.btn-main {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  color: #fff;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  border: 2px solid #fff;
}
.btn-main:active {
  transform: scale(0.9);
}
.main__collection {
  grid-area: collection;
}
.main__cards {
  grid-area: cards;
}
.main__value {
  grid-area: value;
}
